APPLE_KEY_ID=BDWV8JZ952
APPLE_ISSUER_ID=83971460-f0c1-42bb-8c02-8fbd6c17c5ba
APPLE_BUNDLE_ID=com.voolo.jetx
APPLE_PRIVATE_KEY_B64=base64-encoded-app-store-connect-private-key-p8
APPLE_ENVIRONMENT=SANDBOX
